body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#player,
#board {
    text-align: center;
    margin: 0 auto;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 70%;
    margin: 0 auto;
}

form input {
    height: 30px;
    padding: 5px;
}

form button {
    border: none;
    background: #3cc972;
    padding: 10px;
    color: white;
}

form button:disabled {
    border: none;
    background: #ccc;
    padding: 10px;
    color: lightcyan;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    max-width: 70%;
    margin: 0 auto;
}

#board .cell {
    background-color: #dbd7d7;
    border: 1px solid #383737;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 80px;
    position: relative;
}

#board .cell:hover {
    background-color: #e6e6e6;
}

#board .cell.bomb {
    box-shadow: none;
    border: 1px solid black;
    background: url(src/bomb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #aaa7a7;
    background-size: cover;
}

#board .cell.flag {
    background: url(src/flag.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #dbd7d7;
    background-size: cover;
    color: white;
}

#board .cell.revealed {
    background: none;
    background-color: #aaa7a7;
    color: black;
    border: 1px solid black;
}